table, tr, td {
	border: 1px solid black;
	width: 350px;
	height: 30px;
	margin: auto;
	border-collapse: collapse;
}

table {

}


body {
	width: 700px;
	margin: auto;
}

div {
	width: 350px;
	margin: auto;
}

#create	 {
	margin: 15px 150px;
	
}

#left {
	float: left;
	margin-bottom: 15px;
}

#right {
	float: right;
	margin-bottom: 15px;
}
